.content-panel {
    background: #ffffff;
    box-shadow: 0 3px 2px #aab2bd;
    padding-top: 15px;
    padding-bottom: 5px;
}
.content-panel h4 {
    margin-left: 10px;
}
.profile-pic img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid #f1f2f7;
    margin-top: 20px;
}

.profile-text h6 {
    margin-top: -10px;
    margin-bottom: 20px;
    color: #d3d3d3;
}

.profile-text h3 {
    font-weight: 700;
    color: #48cfad;
}

.profile-text h4 {
    color: #710ec8;
}

.profile-text p {
    margin-left: 10px;
}

.right-divider {
    border-right: 3px solid #B58900;
    height: 100%;
}
.mat-tab-label{
    font-size: 20px;

}
.mat-sidenav{
    color: white;
}

.form{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    color: #B58900;
}
