<div class="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-5">
        <a class="font-weight-bold navbar-brand text-uppercase" style="font-size: 25px" routerLink="/">Gestion Ho<span
                class="font-weight-bold text-uppercase" style="color: #B58900">pital</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item active">-->
                <!--<a class="font-weight-bold nav-link lnk" routerLinkActive="active" routerLink="/">HOME <span class="sr-only">(current)</span></a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="font-weight-bold nav-link lnk" routerLinkActive="active" routerLink="/users">USERS</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="font-weight-bold nav-link lnk" routerLinkActive="active" routerLink="/addPatient">PATIENT </a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="font-weight-bold nav-link lnk" routerLinkActive="active" routerLink="/addRdv">RDV </a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="font-weight-bold nav-link lnk" routerLinkActive="active" href="#">CONSULTATION </a>-->
                <!--</li>-->
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-sm-2">
                    <a class="font-weight-bold nav-link lnk" routerLinkActive="active" routerLink="/patient">ESPACE
                        PATIENT</a>
                </li>
                <li class="nav-item mr-sm-2" [hidden]="authSer.isAuthentificated()">
                    <a class="font-weight-bold nav-link lnk" color="default" rounded="true" data-toggle="modal"
                       data-target="#basicExample"
                       (click)="frame.show()" mdbWavesEffect routerLinkActive="active" routerLink="/login"><i
                            class="fa fa-sign-in"></i> &nbsp;LOGIN</a>
                </li>
                <li class="nav-item mr-sm-2" [hidden]="!authSer.isAuthentificated()">
                    <a class="font-weight-bold nav-link lnk" routerLinkActive="active" href="javascript:void(0);"
                       (click)="redirection()"><i class="fa fa-sign-in"></i> &nbsp;MON ESPACE</a>
                </li>
            </ul>
        </div>
    </nav>

    <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold"><img height="100" width="100" border="20px" src="../../../../assets/img/login%20(2).jpg" alt=""></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div *ngIf="error" class="mt-1 mb-3 alert alert-danger text-center">Erreur login</div>
                        <div class="md-form">
                            <i class="fa fa-envelope prefix text-primary"></i>
                            <input type="email" id="defaultForm-email" class="font-weight-bold form-control validate"
                                   mdbInput formControlName="username"
                                   [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                            <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                        </div>
                        <div class="md-form mt-2 mb-2">
                            <i class="fa fa-lock prefix text-primary"></i>
                            <input type="password" id="defaultForm-pass" class="font-weight-bold form-control validate"
                                   mdbInput formControlName="password"
                                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />&nbsp;
                        <button mdbBtn color="default" type="submit" class="btn btn-primary" mdbWavesEffect><i class="fas fa-lock-open"></i>&nbsp; Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <!--<footer class="footer mt-auto py-3 fixed-bottom">-->
        <!--<div class="container">-->
            <!--<span class="text-muted text-center">&copy;Hopital-2019 || tous droits réservés</span>-->
        <!--</div>-->
    <!--</footer>-->
</div>